{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<!--Booking specific css-->
<link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock %}

{% block title %}Rserve a table{% endblock %}

{% block content %}


<div class="booking-container">
    <div class="booking-info text-center pt-5">
        <h2>RESERVE A TABLE</h2>
        <p>Please fill in this form to book a table.
            <br>
            The table will be booked automatically.
            <br>
            You will receive a confirmation email once the booking is made.
            <br>
            If there is any issue, we will contact you as soon as possible.
        </p>
        <p><strong>For same day bookings: </strong>
        <br>
        Please call us directly on:
        <br>
        <a href="tel:4912345678911">+49 12345678911</a>
        </p>

        {% if not user.is_authenticated %}
        <p class="text-center text-danger fw-bold">
            You must <a href="{{ login_url }}">log in </a> or
            <a href="{{ signup_url }}">to book a table.</a>
        </p>
        {% endif %}

        {% if user.is_authenticated %}
        <div class="booking-form">
            {% if messages %}
            <ul class="django-messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <label>Your name*</label>
                {{ form.name }}
                {% for error in form.name.errors %}
                <div class="errorlist">{{ error }}</div>
                {% endfor %}

                <label>Your email*</label>
                {{ form.email }}
                {% for error in form.email.errors %}
                <div class="errorlist">{{ error }}</div>
                {% endfor %}

                <label>Your mobile*</label>
                {{ form.phone }}
                {% for error in form.phone.errors %}
                <div class="errorlist">{{ error }}</div>
                {% endfor %}

                <label>Date*</label>
                {{ form.date }}
                {% for error in form.date.errors %}
                <div class="errorlist">{{ error }}</div>
                {% endfor %}

                <label>Time*</label>
                {{ form.time }}
                {% for error in form.time.errors %}
                <div class="errorlist">{{ error }}</div>
                {% endfor %}

                <label>Number of people*</label>
                {{ form.number_of_guests }}
                {% for error in form.number_of_guests %}
                <div class="errorlist">{{ error }}</div>
                {% endfor %}

                <label>Any Message</label>
                {{ form.message }}
                {% for error in form.message.errors %}
                <div class="errorlist">{{ error }}</div>
                {% endfor %}

                <button type="submit">Send</button>
            </form>
        </div>
        {% endif %}
    </div>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
    const dateField = document.querySelector("input[type='date']");
    if (dateField) {
      const today = new Date().toISOString().split('T')[0];
      dateField.setAttribute("min", today);
    }
    });
</script>
{% endblock %}
