{% load static %}

<footer>
   <p> Follow us on:
    <!-- Social Media Icons -->
     <!-- Facebook link opening in a new tab -->
     <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook-opens in a new tab">
        <img src="{% static 'icons/facebook-icon.svg' %}" alt="Facebook Icon" class="social-icon">
     </a>
     <!-- Instagram link opening in a new tab -->
     <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram-opens in a new tab">
        <img src="{% static 'icons/instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon">
     </a>
     <!-- X- opens in a new tab -->
     <a href="https://x.com/" target="_blank" rel="noopener" aria-label="X -opens in a new tab">
        <img src="{% static 'icons/x-social-media-icon.svg' %}" alt="X Icon" class="social-icon">
     </a>
   </p>
</footer>
