{% load static %}

<header>
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/Olive-Green-logo.webp' %}" alt="Olive Green Restaurant Logo" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Items -->

    <!-- Home -->
     <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>

        <!-- Menu -->
         <!--Menu is visible to everyone -->
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'menu' %}active{% endif %}" href="{%url 'menu' %}">Menu</a>
        </li>
        <!-- Menu management only by Admin -->
        {% if user.is_staff %}
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if url_name in 'create_menu, create_menu_items' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="False">Admin Menu</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'create_menu' %}">Create Menu</a></li>
            <li><a class="dropdown-item" href="{% url 'create_menu_items' %}">Create Menu Item</a></li>
            <li><a class="dropdown-item" href="{% url 'manage_menu' %}">Manage Menu</a></li>
         </ul>
        </li>
        {% endif %}

        <!-- Bookings Dropdown -->
        {% if user.is_authenticated %}{% if user.is_staff %}
        <!--Admin view -->
        <li class="nav-item">
          <a class="nav-link dropdown-toggle {% if url_name in 'booking manage_booking admin_booking' %}active{% endif %}"
          href="#" role="button" data-bs-toggle="dropdown">Bookings</a>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'booking' %}">Create Booking</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'manage_booking' %}">Upcoming Bookings</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'admin_booking' %}">All Bookings (Admin)</a>
            </li>
          </ul>
        </li>
        {% else %}
        <!--Customer view-->
        <li class="nav-item">
          <a class="nav-link dropdown-toggle {% if url_name in 'booking manage_booking' %}active{% endif %}"
          href="#" role="button" data-bs-toggle="dropdown">Bookings</a>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'booking' %}">Create Bookings</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'manage_booking' %}">Upcoming Bookings</a>
            </li>
          </ul>
          {% endif %}{% else %}
          <!--Guest view-->
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'booking' %}active{% endif %}"
            href="{% url 'booking' %}">Bookings</a>
          </li>
          {% endif %}


        <!--Auth Links-->
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'account_logout' %}active{% endif %}" href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'account_signup' %}active{% endif %}" href="{% url 'account_signup' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'account_login' %}active{% endif %}" href="{% url 'account_login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endwith %}

</header>