{% load static %}

<header>
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#"><img src="{% static 'images/Olive-Green-logo.webp' %}" alt="Olive Green Restaurant Logo" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Items -->
    <!-- Home -->
     <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <!-- Menu -->
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
        <!-- Bookings -->
        <li class="nav-item">
          <a class="nav-link" href="#">Booking</a>
        </li>

        <!--Auth Links-->
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'account_logout' %}active{% endif %}" href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'account_signup' %}active{% endif %}" href="{% url 'account_signup' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'account_login' %}active{% endif %}" href="{% url 'account_login' %}">Login</a>
        </li>
        {% endif %}

        <li class=""nav-item>
          <a class="nav-link" href="#">Feedback</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endwith %}

</header>