{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-5">Manage Menu</h2>
    {% regroup menu_items by category as category_list %}

    {% for group in category_list %}
    <div class="mb-4">
        <h3 class="text-primary border-bottom pb-2">{{group.grouper|title}}</h3>

        {% for item in group.list %}
        <div claas="menu-item-card mb-3 border p-3 rounded">
            <h4>{{item.title|safe}}</h4>
            <p>{{item.description|safe}}</p>
        {% if item.pk %}
        <a href="{% url 'edit_menu' item.pk %}" class="btn btn-sm btn-outline-primary me-2">Edit</a>
        <a href="{% url 'delete_menu' item.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
        {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}